{% extends "account/base.html" %}

{% block content %}
<style type="text/css">
	#inboxList {
		padding-left: 0;
	}

	#inboxList li {
		list-style-type: none;
		padding: 5px 0 5px 0;
	}
</style>
<div class="dialog">
<p>Welcome, {{ user.first_name }} {{ user.last_name }}</p>
<h2>Inbox</h2>

<ul id="inboxList">
	<li class="row">
		<div class="col-xs-3">From</div>
		<div class="col-xs-6">Subject</div>
		<div class="col-xs-3">Date</div>
	</li>

	{% for message in messages %}
	<li class="row"><a href="{% url 'read' message.messageID %}">
		<div class="col-xs-3">{{ message.sender }}</div>
		<div class="col-xs-6">{{ message.subject }}</div>
		<div class="col-xs-3">{{ message.timestamp }}</div>
	</a></li>
	{% endfor %}
</ul>
</div>
{% endblock %}